Unleashed/.vs/Unleashed/FileContentIndex/f5ecaf8b-8be8-4fba-b93f-4a90375efb3a.vsidx
.vs/src/FileContentIndex/424f2a03-2c8a-4804-9aa4-34f507555c29.vsidx
Unleashed/.vs/Unleashed/FileContentIndex/4ba9424c-2d4e-4aa8-ae55-099e68192281.vsidx
Unleashed/.vs/Unleashed/FileContentIndex/4fd6c838-51bd-444d-a07d-8e9fc44a073d.vsidx
Unleashed/.vs/Unleashed/FileContentIndex/7b61af77-77ee-41c1-ba87-6ab95efa5b19.vsidx
Unleashed/.vs/Unleashed/FileContentIndex/a0815872-6a87-454e-bb95-8c2a613bf0bc.vsidx
Unleashed/.vs/Unleashed/FileContentIndex/d5a8732c-77e0-4e97-9511-7d30425171be.vsidx
.vs/slnx.sqlite-journal
