@model Unleashed_MVC.Models.Sale

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SaleId" />
            <div class="form-group">
                <label asp-for="SaleTypeId" class="control-label"></label>
                <select asp-for="SaleTypeId" class="form-control" asp-items="ViewBag.SaleTypeId"></select>
                <span asp-validation-for="SaleTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleStatusId" class="control-label"></label>
                <select asp-for="SaleStatusId" class="form-control" asp-items="ViewBag.SaleStatusId"></select>
                <span asp-validation-for="SaleStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleValue" class="control-label"></label>
                <input asp-for="SaleValue" class="form-control" />
                <span asp-validation-for="SaleValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleStartDate" class="control-label"></label>
                <input asp-for="SaleStartDate" class="form-control" />
                <span asp-validation-for="SaleStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleEndDate" class="control-label"></label>
                <input asp-for="SaleEndDate" class="form-control" />
                <span asp-validation-for="SaleEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleCreatedAt" class="control-label"></label>
                <input asp-for="SaleCreatedAt" class="form-control" />
                <span asp-validation-for="SaleCreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleUpdatedAt" class="control-label"></label>
                <input asp-for="SaleUpdatedAt" class="form-control" />
                <span asp-validation-for="SaleUpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
