@model Unleashed_MVC.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransactionId" />
            <div class="form-group">
                <label asp-for="StockId" class="control-label"></label>
                <select asp-for="StockId" class="form-control" asp-items="ViewBag.StockId"></select>
                <span asp-validation-for="StockId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VariationId" class="control-label"></label>
                <select asp-for="VariationId" class="form-control" asp-items="ViewBag.VariationId"></select>
                <span asp-validation-for="VariationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderId" class="control-label"></label>
                <select asp-for="ProviderId" class="form-control" asp-items="ViewBag.ProviderId"></select>
                <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InchargeEmployeeId" class="control-label"></label>
                <select asp-for="InchargeEmployeeId" class="form-control" asp-items="ViewBag.InchargeEmployeeId"></select>
                <span asp-validation-for="InchargeEmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionTypeId" class="control-label"></label>
                <select asp-for="TransactionTypeId" class="form-control" asp-items="ViewBag.TransactionTypeId"></select>
                <span asp-validation-for="TransactionTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionQuantity" class="control-label"></label>
                <input asp-for="TransactionQuantity" class="form-control" />
                <span asp-validation-for="TransactionQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label"></label>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionProductPrice" class="control-label"></label>
                <input asp-for="TransactionProductPrice" class="form-control" />
                <span asp-validation-for="TransactionProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
