@model Unleashed_MVC.Models.OrderVariationSingle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrderVariationSingle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <select asp-for="OrderId" class ="form-control" asp-items="ViewBag.OrderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VariationSingleId" class="control-label"></label>
                <select asp-for="VariationSingleId" class ="form-control" asp-items="ViewBag.VariationSingleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SaleId" class="control-label"></label>
                <input asp-for="SaleId" class="form-control" />
                <span asp-validation-for="SaleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VariationPriceAtPurchase" class="control-label"></label>
                <input asp-for="VariationPriceAtPurchase" class="form-control" />
                <span asp-validation-for="VariationPriceAtPurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
