@model Unleashed_MVC.Models.Provider

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Provider</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProviderName" class="control-label"></label>
                <input asp-for="ProviderName" class="form-control" />
                <span asp-validation-for="ProviderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderImageUrl" class="control-label"></label>
                <input asp-for="ProviderImageUrl" class="form-control" />
                <span asp-validation-for="ProviderImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderEmail" class="control-label"></label>
                <input asp-for="ProviderEmail" class="form-control" />
                <span asp-validation-for="ProviderEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderPhone" class="control-label"></label>
                <input asp-for="ProviderPhone" class="form-control" />
                <span asp-validation-for="ProviderPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderAddress" class="control-label"></label>
                <input asp-for="ProviderAddress" class="form-control" />
                <span asp-validation-for="ProviderAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderCreatedAt" class="control-label"></label>
                <input asp-for="ProviderCreatedAt" class="form-control" />
                <span asp-validation-for="ProviderCreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderUpdatedAt" class="control-label"></label>
                <input asp-for="ProviderUpdatedAt" class="form-control" />
                <span asp-validation-for="ProviderUpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
